[user]
	email = ivoshopov@gmail.com
	name = Ivo Shopov
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	lg = log --color --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset'
	start = !git init && git commit --allow-empty -m \"Initial commit\"
